
@font-face {
    font-family: Poppins-SemiBold;
    src:url(Poppins-SemiBold.ttf)
  }
         p {
        font-family: 'Poppins-SemiBold' ;
    font-size: 2em;
    animation: color-change 5s infinite;
    text-align: center;
  }
  
   @keyframes cycleColors {
  0% { color: red; }
  25% { color: blue; }
  50% { color: green; }
  75% { color: orange; }
  100% { color: red; }
}
  }

     h1 {
    font-family: Poppins-SemiBold;
    font-size: 4em;
    animation: color-changee 5s infinite;
  }
  @keyframes color-changee {
    0% { color: rgb(4, 21, 252); }
    100% { color: rgb(250, 3, 3); }
  
}

ul {
  list-style: none; 
}

ul li::before {
  content: "\2022";  
  color: red; 
  font-weight: bold; 
  display: inline-block; 
  width: 1em; 
  margin-left: -1em; 
}
