       /* tyylikäs tausta */
     
        body {
 background-image: url("background.jpg");
       
 background-color: #cccccc;
}
  
         p {
    font-family: monospace;
    font-size: 2em;
    animation: color-change 3s infinite;
  }
  
  @keyframes color-change {
    0% { color: rgba(253, 2, 2, 0.945); }
    100% { color: rgb(19, 16, 15); }
  }

     h1 {
    font-family: monospace;
    font-size: 4em;
    animation: color-changee 5s infinite;
  }
  @keyframes color-changee {
    0% { color: rgb(12, 8, 248); }
    100% { color: rgb(50, 250, 0); }
  
}
